@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
background-color: black;
color: white;
}
body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
h1{
    color: rgb(255, 255, 255);
    font-size: 54px;
    font-family: 'Lato',sans-serif;
}
h1 { 
    color: #c9d0d4; 
    line-height: 50px; 
    letter-spacing: 2px; 
    padding: 0 0 20px; 
    border-bottom: double #555;
 }


.pic{
    height: 40vh;
    padding: 20px;
}
p{
   font-size: x-large;
    border-bottom: double #555;
    padding: 0 0 20px;
}
button{
 margin: 5px;
 height: 30px;
 background-color: rgb(238, 106, 29);
 color: black;
 font-size: large;
 font-weight: bolder;
 border: none;
 margin-left: 0px;
 cursor: pointer;
 border-radius: 5px;
}
#currency-one{
    padding: 7px;
border-radius: 5px;
font-size: x-large;
width: 45%;
}
#currency-two{
    padding: 7px;
    border-radius: 5px;
    font-size: x-large;
    width: 45%;
}
#amount-one{
    padding: 7px;
    border-radius: 5px;
    font-size: x-large;
    border: 0;
    background: transparent;
    text-align: right;
}
#amount-two{
    padding: 7px;
    border-radius: 5px;
    font-size: x-large;
    border: 0;
    background: transparent;
    text-align: right;
}
@media(max-width: 600px){
    
    #currency-one
{
        width: 200px;
    }
    #currency-two
{
        width: 200px;
    }
#amount-one{
    width: 100px;
}
#amount-two{
    width: 100px;
}
    }